.notebox {
  max-width: 300px;

  margin: 15px;
  color: rgb(0, 0, 0);
  background: #ffe75e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 16px;
  box-sizing: border-box;
  text-align: left;
  max-height: 75vh;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notebox:hover {
  background: #ffdb0c;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.note-text {
  margin-top: 10px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  max-width: 250px;
  padding: 10px;
  display: inline-block;
  word-break: break-word; /* optional */
  white-space: pre-wrap;
}

.note-button-remove {
  position: absolute;
  background-color: #ffdb0c;
}

.popup-content {
  background: #ffdb0c;
  padding: 0px !important;
}
.popup-modal-content {
  background-color: #ffdb0c;
}
.popup-modal-overlay {
  background-color: #ffdb0c;
}
@media (max-width: 720px) {
  .modal {
    max-width: 100%;
  }
}
